<div id="results" class="boxshadow">
  <div class="results-header">
    <i class="icon-facebook-sign"></i> 
    <div id="resultHead">Facebook Places <span class="badge"></span></div>

    <div class="dropdown">
      <div class="dropdown-trigger">Set filter</div>
      <ul class="dropdown-menu places-dropdown" role="menu" aria-labelledby="dropdownMenu"></ul>
    </div>
  </div>
  <div class="results-content">
    <div class="post-list-container">
      <ul class="list-group post-list"></ul>
    </div>
  </div>
</div>