<div class="row">
   <div id="header">
      <div class="col-lg-1">
        <div class="login">Login</div>
      </div>
      <div class="col-lg-3" id="title">Twooglebook</div>
      <div class="col-lg-4">
        <!-- Geocoding -->
        <div id="geocoding"></div>
      </div>
      <div class="col-lg-4">
        <!-- Weather -->
        <div id="weather"></div>
      </div>
   </div>
</div>

<div class="row">
   <div class="content">
    <div class="col-lg-3">

      <!-- Search -->
      <div id="search" class="boxshadow"></div>
      
      <!-- Facebook -->
      <div id="facebook" class="boxshadow"></div>
    </div>

    <div class="col-lg-9">
      <!-- Details -->
      <div id="details" class="boxshadow"></div>
      
      <!-- Map -->
      <div id="map"></div>
    </div>
   </div>
</div>