<div id="header">
   <div class="row-fluid">
      <div class="span4" id="title">Twooglebook</div>
      <div class="span4">
         <div id="geocoding"></div>
      </div>
      <div class="span4">
         <div id="weather"></div>
      </div>
   </div>
</div>

<div class="row-fluid content">
 <div class="span3">
   <div id="search" class="boxshadow"></div>
   <div id="results" class="boxshadow">
   	<h4 id="resultHead">Results</h4>
   		<div class="post-list-container">
   			<ul class="post-list"></ul>
   		</div>
   </div>
 </div>

 <div class="span9">
   <div id="details" class="boxshadow"></div>
   <div id="map"></div>
 </div>
</div>