<div class="row">
   <div id="header">
      <div class="col-lg-4" id="title">Twooglebook</div>
      <div class="col-lg-4">
         <div id="geocoding"></div>
      </div>
      <div class="col-lg-4">
         <div id="weather"></div>
      </div>
   </div>
</div>

<div class="row">
   <div class="content">
    <div class="col-lg-3">
      <div id="search" class="boxshadow"></div>
      <div id="results" class="boxshadow">
      	<h4 id="resultHead">Results <span class="badge"></span></h4>
      		<div class="post-list-container">
      			<ul class="list-group post-list"></ul>
      		</div>
      </div>
    </div>

    <div class="col-lg-9">
      <div id="details" class="boxshadow"></div>
      <div id="map"></div>
    </div>
   </div>
</div>