<div class="well well-small">
	<form>
 		<div class="input-append">
 			<label>Wonach suchen Sie?</label>
  			<input class="span12" id="appendedInputButton" placeholder="z.B. Pub" type="text">
  			<button class="btn search-place" type="button"><i class="icon-search"></i></button>
 		</div>
 		<input type="checkbox" id="read_more" role="button">
 		<label for="read_more" onclick="">
 			<span>Mehr Optionen <i class="icon-chevron-down"></i></span>
 			<span>ausblenden <i class="icon-chevron-up"></i></span>
 		</label> 
 		<section id="detail-search">
  			<label>Suchradius in m (max. 50000)</label>
  			<input class="span12" id="radius" placeholder="z.B. 5000" type="text">
  	  	</section>  
	</form>
</div>